
@font-face {
    src: url('../fonts/Inter-Regular');
    font-family: "Inter";
}

@font-face {
    src: url('../fonts/Inter-Bold');
    font-family: "Inter";
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px; 
}

.a:hover { 
    transition:0s;
    font-size: 5vh;
}


.navigation{
    display: flex;
    list-style-type: none;
    padding-left: 0px;
    margin: 0px;
    width: 1152px;
    height: 85px;
}

.navigation-hotcoffee{
    width: 102px;
    height: 24px;
    font-family: 'Inter', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    Line-height: 24.2px;
    margin-top: 45px;
    margin-left: 67px;
    margin-bottom: 0px;

    color: #000000;
}

.navigation-searchsvg{
    width: 16.93px;
    height: 16.93px;
    margin-left: 297.67px;
    margin-top: 46.67px;    
}

.navigation-search{
    width: 66px;
    height: 19px;
    font-family: 'Inter', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-left: 12.41px;
    margin-top: 46px;

    color: #718096;
}

.navigation-home{
    width: 45px;
    height: 19px;
    font-family: 'Inter', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-left: 186px;
    margin-top: 46px;

    color: #000000;
}

.navigation-article{
    width: 58px;
    height: 19px;
    font-family: 'Inter', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-left: 30px;
    margin-top: 46px;

    color: #000000;
}

.navigation-instsvg{
    width: 24px;
    height: 24px;
    margin-left: 30px;
    margin-top: 45px;
    cursor: pointer;
}

.navigation-twitsvg{
    width: 24px;
    height: 24px;
    margin-left: 34.78px;
    margin-top: 46.69px;
    cursor: pointer;
}

.navigation-linkeidsvg{
    width: 24px;
    height: 24px;
    margin-left: 35.84px;
    margin-top: 46px;
    margin-left: 35.84px;
    cursor: pointer;
}

.picture{
    width: 973px;
    height: 380.37px;
    margin-top: 19px;
    margin-left: 50px;
    

    background-image: url('./images/image 2.2.png');
}

.header-h2{
    width: 632px;
    height: 46px;
    margin-top: 41.63px;
    margin-bottom: 0px;
    margin-left: 152px;

    font-family: 'Inter',Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;

    color: #2D3748;

}

.header-h3{
    width: 203px;
    height: 23px;
    margin-left: 152px;

    font-family: 'Inter',Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;

    color: #2D3748;
}

.header-date{
    width: 147px;
    height: 23px;
    margin-left: 40px;

    font-family: 'Inter',Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    color: #718096;
}

.hr-start{
    width: 760px;
    border: 1px solid #E8E7E7;
    margin-top: 30.5px;
    margin-left: 152px;
    margin-bottom: 37.5px;
}

.paragraf{
    width: 765px;
    margin-left: 152px;

    font-family: 'Inter',Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.36px;

    color: #718096;
}

.font-normal700{
    width: 765px;
    padding-left: 152px;

    font-family: 'Inter',Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36.31px;

    color: #2D3748;
}

.font-italic700{
    width: 765px;
    padding-left: 152px;

    font-family: 'Inter',Helvetica, Arial, sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 16px;
    line-height: 19.36px; 

    color: #2D3748;
}

.paragraf-button{
    display: flex; 
}

.button-up{
    cursor: pointer;
    align-self: flex-end;
    margin-left: 78.17px;
    margin-bottom: 34.17px;
    background-color:white ;
    border: 0px;
}

.button-groove:hover{
    transform: matrix(1, 0, 5, 0, 0, 0);
    transform: rotate(-90deg);;
}

.line-hr{
    width: 1152px;
    margin-top: 43px;

    border: 1px solid #E8E8E8;
}

.navigation-footer{
    display: flex;
    list-style-type: none;
    padding-left: 0px;
    margin: 0px;
    width: 1152px;
    height: 85px;
}

.navigation-hotcoffee-footer{
    width: 337px;
    height: 19px;
    font-family: 'Inter', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    Line-height: 19.36px;
    margin-top: 29px;
    margin-left: 93px;

    color: #000000;
}

.navigation-hotcoffee-footer-copyright{
    font-family: 'Inter', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    Line-height: 19.36px;
    
    color: #000000;
}

.navigation-instsvg-footer{
    width: 24px;
    height: 24px;
    margin-left: 497px;
    margin-top: 30.9px;
    cursor: pointer;
}

.navigation-twitsvg-footer{
    width: 24px;
    height: 24px;
    margin-left: 34.78px;
    margin-top: 32.5px;
    cursor: pointer;
}

.navigation-linkeidsvg-footer{
    width: 24px;
    height: 24px;
    margin-left: 35.84px;
    margin-top: 31.84px;
    margin-left: 35.84px;
    cursor: pointer;
}

@media screen and (max-width: 1280px) {
   .body{
    display: inline-block;
    /* background-color: dodgerblue; */
   }
}

@media screen and (max-width: 1024px) {
    .body{
        display: inline-block;
        /* background-color:cyan */
       }
}

@media screen and (max-width: 768px) {
    .body{
        display: inline-block;
        background-color: #E5E5E5;
       }
    .button-up{
        background-color: #E5E5E5;
    }
}