
.navigation{
    display: flex;
   
}

.navigation-hotcoffee{
    width: 102px;
    height: 24px;
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    Line-height: 24.2px;
    margin-left: 83px;
    margin-top: 36px;
    margin-bottom: 25px;
    color: #000000;
    border: 1px solid;
}

.navigation-searchsvg{
    width: 16.93px;
    height: 16.93px;
    margin-left: 297.67px;
    margin-top: 37.67px;
    margin-bottom: 30.4px;
}

.navigation-search{
    width: 66px;
    height: 19px;
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-left: 12.4px;
    margin-top: 37px;
    margin-bottom: 29px;
    color: #718096;
    border: 1px solid;
}

.navigation-home{
    width: 45px;
    height: 19px;
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-left: 186px;
    margin-top: 37px;
    margin-bottom: 29px;
    color: #000000;
    border: 1px solid;
    }

.navigation-article{
    width: 58px;
    height: 19px;
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-left: 30px;
    margin-top: 37px;
    margin-bottom: 29px;
    color: #000000;
    border: 1px solid;
}

.navigation-instsvg{
    width: 20px;
    height: 20px;
    margin-left: 30px;
    margin-top: 36px;
    margin-bottom: 29px;
}

.navigation-twitsvg{width: 102px;
    width: 20.38px;
    height: 16.57px;
    margin-left: 34.78px;
    margin-top: 37.69px;
    margin-bottom: 30.74px;
}

.navigation-linkeidsvg{width: 102px;
    width: 18px;
    height: 18px;
    margin-left: 35.84px;
    margin-top: 37px;
    margin-bottom: 30px;
    margin-right: 96px;
}

.headerblock{
    display: flex;
    width: 1152px;
    height: 467px;
    background: #FBFBFB;
    margin-bottom: 28px;
    border: 1px solid;
}

.headerblock-h1{
    width: 354px;
    height: 146px;
    position: absolute;
    margin-top: 131px;
    margin-left: 127px;
    
    border: 1px solid;
    
   
}

.headerblock-imgcup{
    width: 70px;
    height: 67px;
    position: absolute;
    margin-top: 192.89px;
    margin-left: 322.61px;
    border: 1px solid;
    
}

.headerblock-question{
    width: 328px;
    height: 36px;
    position:absolute;
    margin-top: 296px;
    margin-left: 127px;
    border: 1px solid;
   
}

.headerblock-picture{
    width: 476px;
    height: 323px;
    position: absolute;
    margin-top: 70px;
    margin-left: 583px;
    border: 1px solid;
  
}