
@font-face {
    src: url('../font/Inter-Regular');
    font-family: "Inter";
}

@font-face {
    src: url('../font/Inter-Bold');
    font-family: "Inter";
}


.navigation{
    display: flex;
    list-style-type: none;
    padding-left: 0px;
    margin: 0px;
    width: 1152px;
    height: 85px;
}

.navigation-hotcoffee{
    width: 102px;
    height: 24px;
    font-family: 'Inter', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    Line-height: 24.2px;
    margin-top: 36px;
    margin-left: 83px;

    color: #000000;
}

.navigation-searchsvg{
    width: 16.93px;
    height: 16.93px;
    margin-left: 297.67px;
    margin-top: 37.67px;    
}

.navigation-search{
    width: 66px;
    height: 19px;
    font-family: 'Inter', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-left: 12.4px;
    margin-top: 37px;

    color: #718096;
}

.navigation-home{
    width: 45px;
    height: 19px;
    font-family: 'Inter', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-left: 186px;
    margin-top: 37px;

    color: #000000;
}

.navigation-article{
    width: 58px;
    height: 19px;
    font-family: 'Inter', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-left: 30px;
    margin-top: 37px;

    color: #000000;
}

.navigation-instsvg{
    width: 24px;
    height: 24px;
    margin-left: 30px;
    margin-top: 36px;
    cursor: pointer;
}

.navigation-twitsvg{width: 102px;
    width: 24px;
    height: 24px;
    margin-left: 34.78px;
    margin-top: 37.69px;
    cursor: pointer;
}

.navigation-linkeidsvg{width: 102px;
    width: 24px;
    height: 24px;
    margin-left: 35.84px;
    margin-top: 37px;
    margin-left: 35.84px;
    cursor: pointer;
}

.headerblock{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    width: 1152px;
    height: 467px;
    background: #FBFBFB;
    margin-bottom: 28px;
}

.headerblock-text{
    font-family: 'Inter', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 0px;
   
    color: #000000;
}

.headerblock-text img{
    float: bottom;
    margin-bottom: -15px;
}

.headerblock-text2{
    font-family: 'Inter', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 86px;

    color: #4A5568;
}

.headerblock-picture{
    width: 476px;
    height: 323px;
    background: url('./image/croods 1.png');
}

.block-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    width: 966px;
    height: 668px;
    margin-left: 93px;
    margin-top: 39px;
}

.block-card-latest{
    display: flex;
    width: 966px;
    height: 243px;
    justify-content: end;
    
    background: #FFFFFF;
    border: 1px solid #E2E2E2;
    box-shadow: 0px 5px 4px rgba(221, 221, 221, 0.25);
    border-radius: 5px;

    border: 1px solid;
}

/* .block-card-latest-text1{
    width: 246.27px;
    height: 36px;
    position: absolute;
    margin-top: 41px;
    margin-left: 54.28px;

    font-family: 'Inter', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #2D3748;

    border: 1px solid;
} */

/* .block-card-latest-text2{
    width: 403.09px;
    height: 51px;
    position: absolute;
    margin-top: 104px;
    margin-left: 52.27px;

    font-family: 'Inter', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #718096;

    border: 1px solid;
} */

/* .block-card-latest-text3{
    width: 92.48px;
    height: 15px;
    position: absolute;
    margin-left: 54.28px;
    margin-top: 185px;

    font-family: 'Inter', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #718096;

    border: 1px solid;
} */

/* .block-card-latest-text4{
    width: 63.33px;
    height: 15px;
    position: absolute;
    margin-top: 185px;
    margin-left: 392.03px;

    font-family: 'Inter', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #2D3748;

    border: 1px solid;
} */

.block-card-latest-picture{
    width: 433.24px;
    height: 243px;
    /* position: absolute;
    margin-left: 532.76px; */
    background: url('./image/image 1.png');
}

/* .block-card-panel{
    width: 966px;
    height: 382px;
    margin-top: 43px;
    margin-left: 93px;
    display: flex;
    justify-content: space-between;

} */

.block-card-panel-left{
    width: 300px;
    height: 382px;
    /* display: flex; */

    border: 1px solid;
}

.block-card-panel-left-foto{
    width: 300px;
    height: 179px;
    /* position: absolute;
    margin-top: 0px; */
    background: url('./image/image 2.png');
}

/* .block-card-panel-left-text1{
    width: 245px;
    height: 24px;
    position: absolute;
    margin-top: 197px;
    margin-left: 16px;

    font-family: 'Inter', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    color: #2D3748;

    border: 1px solid;
} */

/* .block-card-panel-left-text2{
    width: 258px;
    height: 85px;
    position: absolute;
    margin-top: 236px;
    margin-left: 17px;

    font-family: 'Inter', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: #718096;

    border: 1px solid;
} */

/* .block-card-panel-left-text3{
    width: 92px;
    height: 15px;
    position: absolute;
    margin-top: 343px;
    margin-left: 16px;

    font-family: 'Inter', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    color: #718096;

    border: 1px solid;
} */

/* .block-card-panel-left-text4{
    width: 63px;
    height: 15px;
    position: absolute;
    margin-top: 343px;
    margin-left: 213px;

    font-family: 'Inter', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;

    color: #2D3748;

    border: 1px solid;
} */

.block-card-panel-center{
    width: 300px;
    height: 382px;

    border: 1px solid;
}

.block-card-panel-center-foto{
    width: 300px;
    height: 179px;
    /* position: absolute;
    margin-top: 0px; */
    background: url('./image/image 4.png');
}

/* .block-card-panel-center-text1{
    width: 245px;
    height: 24px;
    position: absolute;
    margin-top: 197px;
    margin-left: 16px;

    font-family: 'Inter', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    color: #2D3748;

    border: 1px solid;
} */

/* .block-card-panel-center-text2{
    width: 258px;
    height: 85px;
    position: absolute;
    margin-top: 236px;
    margin-left: 17px;

    font-family: 'Inter', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: #718096;

    border: 1px solid;
} */

/* .block-card-panel-center-text3{
    width: 92px;
    height: 15px;
    position: absolute;
    margin-top: 343px;
    margin-left: 16px;

    font-family: 'Inter', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    color: #718096;

    border: 1px solid;
} */

/* .block-card-panel-center-text4{
    width: 63px;
    height: 15px;
    position: absolute;
    margin-top: 343px;
    margin-left: 213px;

    font-family: 'Inter', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;

    color: #2D3748;

    border: 1px solid;
} */

.block-card-panel-right{
    width: 300px;
    height: 382px;

    border: 1px solid;
}

.block-card-panel-right-foto{
    width: 300px;
    height: 179px;
    /* position: absolute;
    margin-top: 0px; */
    background: url('./image/image 5.png');
}

/* .block-card-panel-right-text1{
    width: 245px;
    height: 24px;
    position: absolute;
    margin-top: 197px;
    margin-left: 16px;

    font-family: 'Inter', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    color: #2D3748;

    border: 1px solid;
} */

/* .block-card-panel-right-text2{
    width: 258px;
    height: 85px;
    position: absolute;
    margin-top: 236px;
    margin-left: 17px;

    font-family: 'Inter', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: #718096;

    border: 1px solid;
} */

/* .block-card-panel-right-text3{
    width: 92px;
    height: 15px;
    position: absolute;
    margin-top: 343px;
    margin-left: 16px;

    font-family: 'Inter', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    color: #718096;

    border: 1px solid;
} */

/* .block-card-panel-right-text4{
    width: 63px;
    height: 15px;
    position: absolute;
    margin-top: 343px;
    margin-left: 213px;

    font-family: 'Inter', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;

    color: #2D3748;

    border: 1px solid;
} */

.highlight-section{
    width: 965px;
    height: 500px;
    margin-top: 43px;
    margin-left: 94px;

    background: #F7FAFC;

    border: 1px solid;
}

.highlight-section-foto{
    width: 525px;
    height: 500px;
    position: absolute;
    margin-top: 0px;
    margin-left: 440px;

    background: url('image.png');

    border: 1px solid;
}

.highlight-section-text1{
    width: 308px;
    height: 96px;
    position: absolute;
    margin-top: 98px;
    margin-left: 63px;

    font-family: 'Inter', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;

    color: #000000;

    border: 1px solid;
}

.highlight-section-text2{
    width: 311px;
    height: 114px;
    position: absolute;
    margin-top: 218px;
    margin-left: 63px;

    font-family: 'Inter', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #718096;

    border: 1px solid;
}

.highlight-section-text3{
    width: 57px;
    height: 19px;
    position: absolute;
    margin-top: 363px;
    margin-left: 63px;

    font-family: 'Inter', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #4A5568;

    border: 1px solid;
}

.highlight-section-text4{
    width: 84px;
    height: 19px;
    position: absolute;
    margin-top: 363px;
    margin-left: 291px;

    font-family: 'Inter', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    color: #000000;

    border: 1px solid;
}